{% extends "base.html" %}

{% block title %}{{name_restaurant}}{% endblock title %}


{% block content %}
    <h1 class="text-center">{{name_restaurant}}</h1><br>
    
    <div> 
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore officia cum quo porro! Repudiandae inventore, aliquam ipsa, laborum quidem iste vel, illo minus similique soluta accusantium expedita repellat incidunt assumenda sed necessitatibus quia totam voluptas deleniti nesciunt. Porro veritatis dignissimos consectetur hic libero saepe at deleniti, error similique quidem eos maxime totam aut sunt excepturi tempore ea obcaecati dolor? Perferendis cupiditate nesciunt dolorum, blanditiis numquam inventore nemo excepturi earum consequuntur consequatur enim quam minus aut eum, quo quidem. Inventore alias ipsum iste obcaecati doloremque voluptates accusantium reiciendis autem ducimus vitae sapiente blanditiis nostrum aliquid, delectus dolorem, architecto quis dolorum ullam.
    </div>

{% endblock content %}